ul.menu {
    background-color: #1c3900;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f8500), to(#1c3900));
    background-image: -webkit-linear-gradient(#3f8500, #1c3900);
    background-image: -moz-linear-gradient(top, #3f8500, #1c3900);
    background-image: -ms-linear-gradient(#3f8500, #1c3900);
    background-image: -o-linear-gradient(#3f8500, #1c3900);
    background-image: linear-gradient(#3f8500, #1c3900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##3f8500', endColorstr='#1c3900', GradientType=0);
    height: 36px;
    font-size: 14px;
}

ul.menu > li {
    float: left;
    list-style: none;
    border-right: 1px solid #3f8500;
    position: relative;
}

ul.menu > li > a {
    color: white;
    display: block;
    padding: 8px 20px 10px;
    text-decoration: none;
    border-right: 1px solid #1c3900;
}

ul.menu > li > a:hover {
    background-color: #1c3900;
}

ul.menu > li:first-child > a:hover {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

ul.menu > li > ul {
    display: none;
}

ul.menu > li:hover > ul {
    display: block;
    position: absolute;
    top: 36px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: #1c3900;
    z-index: 1000;
}

ul.menu > li:hover > ul > li {
    float: none;
    width: 200px;
    list-style: none;
}

ul.menu > li:hover > ul > li > a {
    border-top: 1px solid #3f8500;
    padding: 6px 20px 8px;
    display: block;
    color: white;
    text-decoration: none;
}

ul.menu > li:hover > ul > li > a:hover {
    background-color: transparent;
    color: #c1deff;
}